@page "/product"
@using MinkyShopProject.Data.Enums
@using MinkyShopProject.Data.Models
@using System.Reflection
@using System.ComponentModel
@inject SweetAlertService Swal;
@inject HttpClient HttpClient;

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header pb-0">
                    <div class="d-flex align-items-center">
                        <p class="mb-0">Edit Profile</p>
                        <button class="btn btn-primary btn-sm ms-auto" @onclick="Add">Save</button>
                    </div>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row mb-3">
                            <div class="col-6">
                                <label>Tên Sản Phẩm</label>
                                <input type="text" class="form-control" @bind="SanPham.Ten">
                            </div>
                            <div class="col-6">
                                <label>Thể Loại</label>
                                <input type="text" class="form-control" @oninput='((ui) => { TheLoai = ui.Value?.ToString() ?? ""; })'
                                       @onkeyup='((ui) => { if(ui.Code == "Enter"){ SanPham.TheLoais?.Add(new SanPhamModel(){ Ten = TheLoai }); } })'>
                            </div>
                            <div class="d-flex flex-wrap position-relative py-2">
                                <div class="d-flex flex-wrap">
                                    @if(SanPham.TheLoais != null && SanPham.TheLoais?.Count() > 0){
                                        @foreach (var x in SanPham.TheLoais)
                                        {
                                            if(x != null)
                                            {
                                                <span class="badge badge-primary me-2 mb-2 mt-0" style="cursor: pointer" @onmousedown="() => SanPham.TheLoais.Remove(x)">@x.Ten</span>
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle text-center">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">STT</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Sản Phẩm</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Thể Loại</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày Tạo</th>
                                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trạng Thái</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model.Select((Value, Index) => (Index, Value)))
                                {
                                    <tr>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">@(x.Index + 1)</p>
                                        </td>
                                        <td>
                                            <span class="text-secondary text-xs font-weight-bold">@x.Value.Ten</span>
                                        </td>
                                        <td class="p-0">
                                            <table class="table table-bordered m-0 border-bottom-0">
                                                <tbody>
                                                    @if(x.Value.TheLoais != null && x.Value.TheLoais?.Count() > 0){
                                                        @foreach (var y in x.Value.TheLoais)
                                                        {
                                                            if(y != null)
                                                            {
                                                                <tr class="border-bottom-0">
                                                                    <td class="w-80">
                                                                        <span class="text-secondary text-xs font-weight-bolder">@y?.Ten</span>
                                                                    </td>
                                                                    <td class="text-sm">
                                                                        <a href="javascript:;" @onclick="() => Delete(y.Id)">
                                                                            <i class="fas fa-trash text-danger" aria-hidden="true"></i>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            }else{
                                                                <tr class="border-bottom-0">
                                                                    <td class="w-80">
                                                                        <span class="text-secondary text-xs font-weight-bolder">Không Có</span>
                                                                    </td>
                                                                    <td></td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </td>
                                        <td class="align-middle text-center text-sm">
                                            <span class="text-secondary text-xs font-weight-bold">@x.Value.NgayTao</span>
                                        </td>
                                        <td class="align-middle text-center p-0" style="width: 16%">
                                            <select class="form-select border-0 shadow-0">
                                                @foreach (var y in Enum.GetValues(typeof(TrangThaiSanPham)))
                                                {
                                                    <option>@y</option>
                                               }
                                            </select>
                                        </td>
                                        <td class="text-sm">
                                            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                                                <i class="fas fa-eye text-info" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product" @onclick="() => SanPham = x.Value">
                                                <i class="fas fa-user-edit text-warning" aria-hidden="true"></i>
                                            </a>
                                            <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Delete product" @onclick="() => Delete(x.Value.Id)">
                                                <i class="fas fa-trash text-danger" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    List<SanPhamModel> Model = new List<SanPhamModel>();

    SanPhamModel SanPham = new SanPhamModel() { TheLoais = new List<SanPhamModel>() };

    string TheLoai = "";

    string Url = "https://localhost:7053/api";

    protected override async Task OnInitializedAsync()
    {
        await Reload();
    }

    async Task Delete(Guid id){
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Xóa", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        var result = await HttpClient.DeleteAsync($"{Url}/SanPham?id={id}");

        if (result.IsSuccessStatusCode){
            await Reload();
        }
    }

    async Task Add()
    {
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Thêm", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        var result = await HttpClient.PostAsJsonAsync<SanPhamModel>($"{Url}/SanPham", SanPham);

        if(result.IsSuccessStatusCode){
            await Reload();
        }
    }

    async Task Reload()
    {
        Model = await HttpClient.GetFromJsonAsync<List<SanPhamModel>>($"{Url}/SanPham") ?? new List<SanPhamModel>();
    }
}