@page "/shoponline"
@inject HttpClient HttpClient;
@using Data.Models;

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    @if(Models == null)
                    {
                        <div class="row">
                            <div class="col-xl-5">
                                <p>Loading...</p>
                            </div>
                        </div>
                    }else{
                        <div class="row">
                            <div class="col-xl-5 col-lg-6 text-center">
                                <img class="w-100 border-radius-lg shadow-lg mx-auto p-4" src="@(BienThe.Anh ?? "https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/product-thumb.jpg")" alt="chair">
                                <div class="my-gallery d-flex mt-4 pt-2">
                                    @if (Models != null)
                                    {
                                        foreach (var y in Models.BienTheModels)
                                        {
                                            <figure class="ms-2 me-3">
                                                <img class="w-100 min-height-100 max-height-100 border-radius-lg shadow p-2" src="@y.Anh">
                                            </figure>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-lg-5 mx-auto">
                                <h3 class="mt-lg-0 mt-4">@BienThe.Ten</h3>
                                <div class="rating">
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star" aria-hidden="true"></i>
                                    <i class="fas fa-star-half-alt" aria-hidden="true"></i>
                                </div>
                                <br>
                                <h6 class="mb-0 mt-3">Giá Tiền : @BienThe.GiaBan</h6>
                                <div class="row mt-4">
                                    @if (Models?.ThuocTinhModels != null)
                                    {
                                        foreach (var x in Models.ThuocTinhModels.Select((Value, Index) => (Index, Value)))
                                        {
                                            <div class="col-md-12">
                                                <label>@x.Value.Ten</label>
                                                <div class="d-flex flex-wrap">
                                                    @foreach (var y in x.Value.GiaTris)
                                                    {
                                                        <button class="btn me-2" @onclick='() => { GiaTris[x.Index] = y.Ten; BienThe = Models.BienTheModels.FirstOrDefault(c => c.GiaTri == string.Join(" + ", GiaTris)) ?? new BienTheModel(); }'>@y.Ten</button>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                                <div class="row mt-4">
                                    <div class="col-lg-5">
                                        <button class="btn btn-primary mb-0 mt-lg-auto w-100" type="button" name="button">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    BienTheChiTietModel? Models;

    BienTheModel BienThe = new BienTheModel();

    string[] GiaTris = new string[0];

    protected async override Task OnInitializedAsync()
    {
        Models = await HttpClient.GetFromJsonAsync<BienTheChiTietModel>("https://localhost:7053/api/BienThe/A3CDDC5F-5368-47BE-8C92-EACCD0CCC785") ?? new BienTheChiTietModel();
        GiaTris = new string[Models.ThuocTinhModels.Count()];
    }
}