@page "/sale"
@layout Shared.EmptyLayout

<div class="container-fluid bg-primary header-sale">
    <div class="row">
        <div class="col-5 d-flex align-items-center">
            <div class="form-group mb-0 w-100">
                <div class="input-group input-group-alternative">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                    <input class="form-control h-25" placeholder="Tìm Sản Phẩm" type="text" value="@index">
                </div>
            </div>
        </div>
        <div class="col-5 d-flex">
            <button class="btn text-light text-bold shadow-none m-0 d-none" id="left-overflow" type="button" onclick='document.getElementById("myTab").scrollBy(-200, 0)'>&lt;</button>
            <ul class="nav nav-tabs border-0 flex-nowrap" style="overflow: hidden; direction: rtl" id="myTab">
                @if(HoaDons != null)
                {
                    @for (int i = HoaDons.Count(); i > 0; i--)
                    {
                        var localIndex = i - 1;
                        <li class="nav-item" style="font-size: .875rem">
                            <button @onclick="async() => { index = localIndex; }" class="nav-link text-bold @(i == 1 ? "active" : "")" style="white-space: nowrap;" @oncontextmenu="async(ui) => { if(ui.Button == 2){ await RemoveOrder(i); } }" data-bs-toggle="tab" data-bs-target="#hoa-don-@i" type="button">
                              Hóa Đơn @i
                             </button>
                        </li>
                    }
                }
            </ul>
            <button class="btn text-light text-bold shadow-none m-0 d-none" id="right-overflow" type="button" onclick='document.getElementById("myTab").scrollBy(200, 0)'>></button>
            <button class="btn btn-info m-0" type="button" @onclick='async() => await AddOrder()'>+</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-2 body-sale">
    <div class="row gx-2">
        <div class="col-6">
            <div class="card" style="height: 500px; overflow-y: auto">
                <div class="card-body">
                    @if(HoaDons != null)
                    {
                        @for (int i = HoaDons.Count(); i > 0; i--)
                        {
                            var localIndex = i - 1;
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show @(i == 1 ? "active" : "")" id="hoa-don-@i" tabindex="0">
                                    @foreach (var x in HoaDons[i - 1].HoaDonChiTiets.Select((Value, Index) => (Index, Value)))
                                    {
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-around align-items-center">
                                                    <span class="text-sm text-bold">@x.Value.BienThe?.SanPham?.Ten</span>
                                                    <div class="d-flex justify-content-center">
                                                        <button class="btn btn-xs mb-0 me-1" @onclick="() => Update(localIndex, x.Index, false)"><i class="fa fa-minus"></i></button>
                                                        <input type="number" class="form-control w-25 h-25" value="@x.Value.SoLuong" @onchange='e => Update(localIndex, x.Index, false, int.Parse(e.Value?.ToString() ?? ""))' />
                                                        <button class="btn btn-xs mb-0 ms-1" @onclick="() => Update(localIndex, x.Index, true)"><i class="fa fa-plus"></i></button>
                                                    </div>
                                                    <button class="btn btn-danger btn-sm m-0" @onclick="() => RemoveItem(localIndex, x.Index)">Xóa</button>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <img class="w-10" src="@x.Value.BienThe?.Anh" />
                                                    <span class="text-sm">@x.Value.BienThe?.Ten</span>
                                                    <span class="text-sm">@Helper.FormatMoney(x.Value.BienThe?.GiaBan)</span>
                                                    <span class="text-sm">@Helper.FormatMoney(x.Value.BienThe?.GiaBan * x.Value.SoLuong)</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="height: 500px; overflow-y: auto">
                <div class="card-body">
                    <div class="row mb-2 align-items-center">
                        <div class="col-6 position-relative">
                            @if (KhachHangs != null)
                            {
                                <select class="select-khachhang" id="select-khachhang" @onchange='async e => await AddKhachHang(int.Parse(e.Value?.ToString() ?? "999"))'>
                                    <option value="999">Khách Lẻ</option>
                                    @foreach (var x in KhachHangs.Data.Content.Select((Value, Index) => (Index, Value)))
                                    {
                                        <option value="@x.Index">@x.Value.Ten</option>
                                    }
                                </select>
                                <label for="select-khachhang" class="form-control position-absolute top-0 ms-0">@(HoaDons?[index]?.KhachHang?.Ten ?? "Khách Lẻ")</label>
                            }
                        </div>
                        <div class="col-6">
                            <div class="form-check form-switch justify-content-end">
                                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @onchange="() => ThanhToan = !ThanhToan">
                                <label class="form-check-label" for="flexSwitchCheckDefault">Thanh Toán</label>
                            </div>
                        </div>
                    </div>
                    <div class='@(ThanhToan ? "d-none" : "d-block")'>
                        <div class="row justify-content-center">
                            @if (SanPhams != null)
                            {
                                @foreach (var x in SanPhams.Data.Content)
                                {
                                    <div class="col-5">
                                        <div class="card card-plain product-sale p-2" @onmousedown="() => { Id = x.Id; }" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                            <div class="row">
                                                <div class="col-lg-5">
                                                    <div class="position-relative">
                                                        <div class="d-inline-block p-2">
                                                            <img class="img-fluid" src="@x.Anh">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-7 ps-0 pe-0 my-auto">
                                                    <div class="card-body p-1 text-left">
                                                        <div class="p-md-0 pt-3">
                                                            <h6 class="font-weight-bolder mb-0 text-sm">@x.Ten</h6>
                                                            <p class="text-uppercase text-sm font-weight-bold text-sm">@Helper.FormatMoney(x.BienThes?.Min(c => c.GiaBan))</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    <div class="row @(ThanhToan ? "d-block" : "d-none")">
                        <div class="col-12">
                            @if (HoaDons != null && HoaDons.Any() && HoaDons[index] != null)
                            {
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row gy-1 align-items-center justify-content-between">
                                            <div class="col-6">
                                                <label class="col-form-label text-sm me-3">Khách hàng</label>
                                                <span class="text-bolder text-sm">
                                                    @(
                                                        HoaDons[index].IdKhachHang == Guid.Empty ? "Khách Lẻ" : HoaDons[index].KhachHang?.Ten
                                                     )
                                                </span>
                                            </div>
                                            <div class="col-6">
                                                <label class="col-form-label text-sm me-3">Tổng tiền hàng</label>
                                                <span class="text-bolder text-sm">@Helper.FormatMoney(HoaDons?[index].TongTien)</span>
                                             </div>
                                             <div class="col-6">
                                                <label class="col-form-label text-sm me-3">Khách cần trả</label>
                                                <span class="text-bolder text-sm">@Helper.FormatMoney(HoaDons?[index].TongTien)</span>
                                             </div>
                                            <div class="col-6">
                                                <input class="form-control" placeholder="Voucher"/>
                                            </div>
                                            @if(HoaDons?[index] != null)
                                            {
                                                @foreach (var x in HoaDons[index].HinhThucThanhToans.Select((Value, Index) => (Index, Value)))
                                                {
                                                    if(x.Value.KieuThanhToan == 2)
                                                    {
                                                        <div class="col-6">
                                                            <label class="col-form-label text-sm">
                                                                Khách cọc
                                                            </label>
                                                            <input class="form-control text-secondary text-bold" type="text" value="@string.Format("{0:0,0}", HoaDons[index].HinhThucThanhToans[x.Index].TongTienThanhToan)">
                                                        </div>
                                                    }else{
                                                        <div class="col-6">
                                                            <label class="col-form-label text-sm">
                                                                Khách thanh toán @(x.Value.KieuThanhToan == 1 ? "thẻ" : "tiền mặt")
                                                            </label>
                                                            <input class="form-control text-secondary text-bold" type="text" value="@string.Format("{0:0,0}", HoaDons[index].HinhThucThanhToans[x.Index].TongTienThanhToan)" @oninput='e => HoaDons[index].HinhThucThanhToans[x.Index].TongTienThanhToan = float.Parse(e.Value?.ToString() ?? "")' @onchange="async() => await Reload()">
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>
                                        <div class="row mt-2">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex">
                                                    <div class="form-check me-3">
                                                        <input class="form-check-input" @attributes='HoaDons?[index].HinhThucThanhToans.Count() <= 1 && HoaDons[index].HinhThucThanhToans[0].KieuThanhToan == 0 ? new Dictionary<string, object>(){ { "checked", "" } } : null' type="radio" name="flexRadioDefault" id="flexRadioDefault1" @onchange="async() => { await AddHinhThucThanhToan(0); }">
                                                        <label class="form-check-label">
                                                            Tiền mặt
                                                        </label>
                                                    </div>
                                                    <div class="form-check me-3">
                                                        <input class="form-check-input" @attributes='HoaDons?[index].HinhThucThanhToans.Count() <= 1 && HoaDons[index].HinhThucThanhToans[0].KieuThanhToan == 1 ? new Dictionary<string, object>(){ { "checked", "" } } : null' type="radio" name="flexRadioDefault" id="flexRadioDefault2" @onchange="async() =>{ await AddHinhThucThanhToan(1); }">
                                                        <label class="form-check-label">
                                                            Chuyển khoản
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" @attributes='HoaDons?[index].HinhThucThanhToans.Count() > 1 ? new Dictionary<string, object>(){ { "checked", "" } } : null' @onchange="async() => { await AddHinhThucThanhToan(2); }" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                        <label class="form-check-label">
                                                            Cả 2
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @attributes='HoaDons?[index].LoaiDonHang == 1 ? new Dictionary<string, object>(){ { "checked", "" } } : null' @onchange="async() => { HoaDons[index].LoaiDonHang = HoaDons[index].LoaiDonHang == 0 ? 1 : 0; await Reload(); }">
                                                    <label class="form-check-label" for="flexSwitchCheckDefault">Giao Hàng</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row g-3 align-items-center justify-content-between">
                                            <div class="col-auto">
                                                <label for="inputPassword6" class="col-form-label text-sm">Tiền thừa trả khách</label>
                                            </div>
                                            <div class="col-auto">
                                                <span class="text-bolder text-sm">@Helper.FormatMoney(HoaDons?[index].HinhThucThanhToans.Sum(c => c.TongTienThanhToan) - HoaDons?[index].TongTien)</span>
                                            </div>
                                        </div>
                                        <hr>
                                        @if(HoaDons?[index].LoaiDonHang == 1)
                                        {
                                            <div class="row gy-1 mb-2 align-items-center justify-content-between">
                                                <div class="col-6">
                                                    <label class="col-form-label me-3 text-sm">Tên người nhận</label>
                                                    <input class="form-control" value="@HoaDons[index].TenNguoiNhan" @oninput="e => { HoaDons[index].TenNguoiNhan = e.Value?.ToString(); }" @onchange="async() => await Reload()">
                                                </div>
                                                <div class="col-6">
                                                    <label class="col-form-label me-3 text-sm">Số điện thoại</label>
                                                    <input class="form-control" value="@HoaDons[index].Sdt" @oninput="e => { HoaDons[index].Sdt = e.Value?.ToString(); }" @onchange="async() => await Reload()">
                                                </div>
                                                <div class="col-6">
                                                    <label class="col-form-label me-3 text-sm">Địa chỉ</label>
                                                    <input class="form-control" value="@HoaDons[index].DiaChi" @oninput="e => { HoaDons[index].DiaChi = e.Value?.ToString(); }" @onchange="async() => await Reload()">
                                                </div>
                                                <div class="col-6">
                                                    <label class="col-form-label me-3 text-sm">Tiền ship</label>
                                                    <input class="form-control" value="@string.Format("{0:0,0}", HoaDons[index].TienShip)" @oninput='e => HoaDons[index].TienShip = float.Parse(e.Value?.ToString() ?? "")' @onchange="async() => await Reload()">
                                                </div>
                                                <div class="col-12">
                                                    <label class="col-form-label me-3 text-sm">Ghi chú</label>
                                                    <textarea rows="3" class="form-control"></textarea>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-primary footer-sale p-1">
    <div class="d-flex justify-content-between align-items-center px-4">
        @if (HoaDons != null && HoaDons.Any())
        {
            <span class="text-bolder text-light">Tổng Tiền : @Helper.FormatMoney(HoaDons?[index].TongTien)</span>
        }
        else
        {
            <span class="text-bolder text-light">Tổng Tiền : 0</span>
        }
        <button class="btn btn-info m-0" @onclick="AddHoaDonThat">Thanh Toán</button>
    </div>
</div>
<div class="offcanvas offcanvas-end" style="width: 1000px;" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
        <MinkyShopProject.Admin.Pages.Client.ProductDetailComponent Sale="this" @ref="_component" Id="Id"></MinkyShopProject.Admin.Pages.Client.ProductDetailComponent>
    </div>
</div>