@page "/sale"
@layout Shared.EmptyLayout

<div class="container-fluid bg-primary header-sale">
    <div class="row">
        <div class="col-5 d-flex align-items-center">
            <div class="form-group mb-0 w-100">
                <div class="input-group input-group-alternative">
                    <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                    <input class="form-control h-25" placeholder="Tìm Sản Phẩm" type="text" value="@index">
                </div>
            </div>
        </div>
        <div class="col-5 d-flex">
            <button class="btn text-light text-bold shadow-none m-0 d-none" id="left-overflow" type="button" onclick='document.getElementById("myTab").scrollBy(-200, 0)'>&lt;</button>
            <ul class="nav nav-tabs border-0 flex-nowrap" style="overflow: hidden; direction: rtl" id="myTab">
                @if(HoaDons != null)
                {
                    @for (int i = HoaDons.Count(); i > 0; i--)
                    {
                        var localIndex = i - 1;
                        <li class="nav-item" style="font-size: .875rem">
                            <button @onclick="() => index = localIndex" class="nav-link text-bold @(i == 1 ? "active" : "")" style="white-space: nowrap" @oncontextmenu="async(ui) => { if(ui.Button == 2){ await RemoveOrder(i); } }" data-bs-toggle="tab" data-bs-target="#hoa-don-@i" type="button">Hóa Đơn @i</button>
                        </li>
                    }
                }
            </ul>
            <button class="btn text-light text-bold shadow-none m-0 d-none" id="right-overflow" type="button" onclick='document.getElementById("myTab").scrollBy(200, 0)'>></button>
            <button class="btn btn-info m-0" type="button" @onclick='() => AddOrder()'>+</button>
        </div>
    </div>
</div>
<div class="container-fluid mt-2 body-sale">
    <div class="row gx-2">
        <div class="col-6">
            <div class="card" style="height: 500px; overflow-y: auto">
                <div class="card-body">
                    @if(HoaDons != null)
                    {
                        @for (int i = HoaDons.Count(); i > 0; i--)
                        {
                            var localIndex = i - 1;
                            <div class="tab-content mt-2">
                                <div class="tab-pane fade show @(i == 1 ? "active" : "")" id="hoa-don-@i" tabindex="0">
                                    @foreach (var x in HoaDons[i - 1].HoaDonChiTiets.Select((Value, Index) => (Index, Value)))
                                    {
                                        <div class="card mb-2">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between">
                                                    <span class="text-sm text-bold">@x.Value.BienThe?.SanPham?.Ten</span>
                                                    <button class="btn btn-danger btn-sm m-0" @onclick="() => RemoveItem(localIndex, x.Index)">Xóa</button>
                                                </div>
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <img class="w-10" src="@x.Value.BienThe?.Anh" />
                                                    <span class="text-sm">@x.Value.BienThe?.Ten</span>
                                                    <span class="text-sm">@x.Value.SoLuong</span>
                                                    <span class="text-sm">@Helper.FormatMoney(x.Value.BienThe?.GiaBan)</span>
                                                    <span class="text-sm">@Helper.FormatMoney(x.Value.BienThe?.GiaBan * x.Value.SoLuong)</span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="height: 500px">
                <div class="card-body">
                    <div class="row justify-content-center">
                        @if(SanPhams != null)
                        {
                            @foreach(var x in SanPhams.Data.Content)
                            {
                                <div class="col-5">
                                    <div class="card card-plain product-sale p-2" @onmousedown="() => { Id = x.Id; }" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="position-relative">
                                                    <div class="d-inline-block p-2">
                                                        <img class="img-fluid" src="@x.Anh">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-7 ps-0 pe-0 my-auto">
                                                <div class="card-body p-1 text-left">
                                                    <div class="p-md-0 pt-3">
                                                        <h6 class="font-weight-bolder mb-0 text-sm">@x.Ten</h6>
                                                        <p class="text-uppercase text-sm font-weight-bold text-sm">@string.Format("{0:0,0}", x.BienThes?.Min(c => c.GiaBan))</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-primary footer-sale p-1">
    <div class="d-flex justify-content-between align-items-center px-4">
        <span class="text-light text-bolder">Tổng Tiền : @Helper.FormatMoney(HoaDons?[index].TongTien)</span>
        <button class="btn btn-info m-0">Thanh Toán</button>
    </div>
</div>
<div class="offcanvas offcanvas-end" style="width: 1000px" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
        <MinkyShopProject.Admin.Pages.Client.ProductDetailComponent Sale="this" @ref="_component" Id="Id"></MinkyShopProject.Admin.Pages.Client.ProductDetailComponent>
    </div>
</div>