@page "/admin/group"
@page "/admin/group/page/{page:int}"
@using MinkyShopProject.Data.Models
@inject SweetAlertService Swal;
@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-3">
                                    <select class="js-choice" @onchange='async (ui) =>{ Filter.TrangThai = int.TryParse(ui.Value?.ToString(), out int numberLocal) ? int.Parse(ui.Value.ToString() ?? "") : null; await Reload(); }'>
                                        <option>Tất Cả</option>
                                        <option value="1">Đang Bán</option>
                                        <option value="0">Ngừng Bán</option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <select class="js-choice-size" @onchange='async (ui) =>{ Filter.Size = int.TryParse(ui.Value?.ToString(), out int numberLocal) ? int.Parse(ui.Value.ToString() ?? "") : 2; await Reload(); }'>
                                        <option value="2">2 kết quả</option>
                                        @for (int i = 1; i < 5; i++)
                                        {
                                            var index = i * 5;
                                            <option value="@index">@index kết quả</option>
                                        }
                                    </select>
                                </div>
                                <div class="col-3">
                                    <input class="form-control" placeholder="Nhập tên nhóm sản phẩm" @oninput='(ui) => Filter.Ten = ui.Value?.ToString() ?? ""' @onchange="async() => { Page = 1; await Reload(); }" />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <div class="d-flex justify-content-between align-items-center">
                                <div style="height: 5px; width: 75%; border-bottom: 1px solid gray;"></div>
                                <button class="btn btn-primary btn-sm" @onclick="AddOrUpdateAsync">Lưu Thông Tin</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Nhóm Cha</label>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" @bind="NhomSanPham.Ten">
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Nhóm Con</label>
                            <div class="input-group">
                                <input type="text" class="form-control" @oninput='(ui) => TenNhomSanPham = ui.Value?.ToString() ?? ""' @onkeyup='((ui) => { if(ui.Code == "Enter"){ NhomSanPham.NhomSanPhams?.Add(new NhomSanPhamModel(){ Ten = TenNhomSanPham }); } })'>
                            </div>
                            <div class="d-flex flex-wrap position-relative py-2">
                                <div class="d-flex flex-wrap">
                                    @if(NhomSanPham.NhomSanPhams != null)
                                    {
                                        if (NhomSanPham.Id == Guid.Empty)
                                        {
                                            foreach (var x in NhomSanPham.NhomSanPhams)
                                            {
                                                <span class="badge badge-primary me-2 mb-2 mt-0" style="cursor: pointer" @onmousedown="() => NhomSanPham.NhomSanPhams.Remove(x)">@x.Ten</span>
                                            }
                                        }else
                                        {
                                            foreach (var x in NhomSanPham.NhomSanPhams)
                                            {
                                                <input class="form-control w-25 me-2" style="width: 30%" @ondblclick="() => NhomSanPham.NhomSanPhams.Remove(x)" @bind="x.Ten">
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle text-center">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">STT</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Thuộc Tính</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Giá Trị</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày Tạo</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trạng Thái</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (NhomSanPhams == null)
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    if(NhomSanPhams.Data.Content.Count() > 0)
                                    {
                                        @foreach (var x in NhomSanPhams.Data.Content.Select((Value, Index) => (Index, Value)).Where(c => c.Value.IdParent == null))
                                        {
                                            <tr>
                                                <td>
                                                    <p class="text-xs font-weight-bold mb-0">@(x.Index + 1)</p>
                                                </td>
                                                <td style="width: 20%">
                                                    <span class="text-secondary text-xs font-weight-bold">@x.Value.Ten</span>
                                                </td>
                                                <td class="p-0 w-25">
                                                    <table class="table table-bordered m-0 border-bottom-0">
                                                        <tbody>
                                                            @if (x.Value.NhomSanPhams != null)
                                                            {
                                                                @foreach (var y in x.Value.NhomSanPhams)
                                                                {
                                                                    <tr class="border-bottom-0">
                                                                        <td class="w-80">
                                                                            <span class="text-secondary text-xs font-weight-bolder">@y.Ten</span>
                                                                        </td>
                                                                        <td class="text-sm">
                                                                            <a href="javascript:;" @onclick="() => DeleteAsync(y.Id)" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                                                                                <i class="fas fa-trash text-danger" aria-hidden="true"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-secondary text-xs font-weight-bold">@x.Value.NgayTao.ToShortDateString()</span>
                                                </td>
                                                <td class="align-middle text-center p-0" style="width: 16%">
                                                    <div class="form-check form-switch justify-content-center">
                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" @attributes='@(x.Value.TrangThai == 1 ? new Dictionary<string, object>() { { "checked", "" } } : new Dictionary<string, object>())' @onclick="async() => { NhomSanPham = x.Value; await UpdateStatus(); }">
                                                    </div>
                                                </td>
                                                <td class="text-sm">
                                                    <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                                                        <i class="fas fa-eye text-info" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product" @onclick="() => NhomSanPham = x.Value">
                                                        <i class="fas fa-user-edit text-warning" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="javascript:;" @onclick="() => DeleteAsync(x.Value.Id)" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                                                        <i class="fas fa-trash text-danger" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }else{
                                        <tr>
                                            <td colspan="6" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Không Có Dữ Liệu</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <MinkyShopProject.Admin.Shared.PaginationComponent Model="NhomSanPhams" Url="admin/group"></MinkyShopProject.Admin.Shared.PaginationComponent>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Page { get; set; }

    Uri Url = new Uri("https://localhost:7053/api/nhomsanpham");

    string TenNhomSanPham = "";

    NhomSanPhamModel NhomSanPham = new NhomSanPhamModel();

    NhomSanPhamQueryModel Filter = new NhomSanPhamQueryModel() { Size = 2 };

    ResponsePagination<NhomSanPhamModel>? NhomSanPhams;

    protected override async Task OnParametersSetAsync()
    {
        await Reload();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("choiceLoad", "{'searchEnabled': false}", ".js-choice");
            await JSRuntime.InvokeVoidAsync("choiceLoad", "{'searchEnabled': false}", ".js-choice-size");
        }
    }

    async Task DeleteAsync(Guid id)
    {
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Xóa", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        var result = await HttpClient.DeleteAsync(Url.AddQuery("id", id.ToString()));

        if (result.IsSuccessStatusCode)
        {
            await Reload();
            await Swal.FireAsync("Thông Báo", "Xóa thành công", SweetAlertIcon.Success);
        }
    }

    async Task UpdateStatus()
    {
        NhomSanPham.TrangThai = NhomSanPham.TrangThai == 1 ? 0 : 1;

        var result = NhomSanPham.Id == Guid.Empty ? await HttpClient.PostAsJsonAsync<NhomSanPhamModel>(Url, NhomSanPham) : await HttpClient.PutAsJsonAsync<NhomSanPhamModel>(Url.AddQuery("id", NhomSanPham.Id.ToString()), NhomSanPham);

        if (result.IsSuccessStatusCode)
        {
            await Reload();
            await Swal.FireAsync("Thông Báo", "Sửa thành công", SweetAlertIcon.Success);
        }
    }

    async Task AddOrUpdateAsync()
    {
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Thêm", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        var result = NhomSanPham.Id == Guid.Empty ? await HttpClient.PostAsJsonAsync<NhomSanPhamModel>(Url, NhomSanPham) : await HttpClient.PutAsJsonAsync<NhomSanPhamModel>(Url.AddQuery("id", NhomSanPham.Id.ToString()), NhomSanPham);

        if (result.IsSuccessStatusCode)
        {
            await Reload();
            await Swal.FireAsync("Thông Báo", "Thành công", SweetAlertIcon.Success);
        }
    }

    async Task Reload()
    {
        if (Page == 0) Page = 1;
        NhomSanPhams = await HttpClient.GetFromJsonAsync<ResponsePagination<NhomSanPhamModel>>(Url.AddQuery("page", Page.ToString()).AddQuery("size", Filter.Size.ToString() ?? "2").AddQuery("trangthai", Filter.TrangThai.ToString() ?? "").AddQuery("ten", Filter.Ten ?? ""));
        NhomSanPham = new NhomSanPhamModel();
        TenNhomSanPham = "";
    }
}