@page "/admin/invoice"
@page "/admin/invoice/page/{page:int}"
@using MinkyShopProject.Data.Models
@inject SweetAlertService Swal;
@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-4">
                            <select class="select-loai-don-hang" @onchange='async (ui) =>{ Filter.LoaiHoaDon = int.TryParse(ui.Value?.ToString(), out int numberLocal) ? int.Parse(ui.Value.ToString() ?? "") : null; await Reload(); }'>
                                <option value="">Loại Hóa Đơn</option>
                                <option value="0">Tại quầy</option>
                                <option value="1">Đặt hàng</option>
                                <option value="2">Giao hàng</option>
                            </select>
                        </div>
                        @if(Filter.LoaiHoaDon == 2)
                        {
                            <div class="col-4">
                                <select class="select-trang-thai-giao-hang" @onchange='async (ui) =>{ Filter.TrangThaiGiaoHang = int.TryParse(ui.Value?.ToString(), out int numberLocal) ? int.Parse(ui.Value.ToString() ?? "") : null; await Reload(); }'>
                                    <option value="">Trạng Thái Giao Hàng</option>
                                    <option value="0">Chờ Xác Nhận</option>
                                    <option value="1">Chờ Lấy Hàng</option>
                                    <option value="2">Đang Giao</option>
                                    <option value="3">Đã Giao</option>
                                    <option value="4">Đã Hủy</option>
                                    <option value="5">Nhận Một Phần</option>
                                    <option value="6">Giao Thất Bại</option>
                                    <option value="7">Không Nghe Máy</option>
                                </select>
                            </div>
                        }
                        <div class="col-4">
                            <input class="form-control" placeholder="Nhập mã hóa đơn hoặc tên khách hàng" @oninput='e => Filter.Ma = e.Value?.ToString() ?? ""' @onchange="async() => await Reload()"/>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered align-middle text-center">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Mã hóa đơn</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày tạo</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Khách hàng</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tổng tiền hàng</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Giảm giá</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Khách đã trả</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (HoaDons == null)
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    if (HoaDons.Data.Content.Count() > 0)
                                    {
                                        foreach (var x in HoaDons.Data.Content.Select((Value, Index) => (Index, Value)))
                                        {
                                            <tr @onclick="() => HoaDon = x.Value" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
                                                <td>
                                                    <span class="text-secondary text-xs font-weight-bold">@x.Value.Ma</span>
                                                </td>
                                                <td style="width: 20%">
                                                    <span class="text-secondary text-xs font-weight-bold">@x.Value.NgayTao</span>
                                                </td>
                                                <td style="width: 20%">
                                                    <span class="text-secondary text-xs font-weight-bold">@(x.Value.KhachHang?.Ten ?? "Khách Lẻ")</span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-secondary text-xs font-weight-bold">@Helper.FormatMoney(x.Value.TongTien)</span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-secondary text-xs font-weight-bold">@((x.Value.VoucherLogs != null && x.Value.VoucherLogs.Any()) ? Helper.FormatMoney(x.Value.VoucherLogs?[0].SoTienGiam) : 0)</span>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-secondary text-xs font-weight-bold">@Helper.FormatMoney(x.Value.HinhThucThanhToans.Sum(c => c.TongTienThanhToan))</span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Không Có Dữ Liệu</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <MinkyShopProject.Admin.Shared.PaginationComponent Model="HoaDons" Url="admin/invoice" />
                    <div class="offcanvas offcanvas-end w-100" tabindex="-1" id="offcanvasExample">
                        @if (HoaDon != null)
                        {
                            <InvoiceDetailComponent HoaDon="HoaDon"></InvoiceDetailComponent>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    [Parameter]
    public int Page { get; set; }

    ResponsePagination<HoaDonModel>? HoaDons;

    HoaDonQueryModel Filter = new HoaDonQueryModel() { Size = 5, };

    HoaDonModel? HoaDon;

    Uri Url = new Uri("https://localhost:7053/api/hoadon");

    protected async override Task OnParametersSetAsync()
    {
        await Reload();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await JSRuntime.InvokeVoidAsync("choiceLoad", "{'searchEnabled': false}", ".select-loai-don-hang");
        }
        else if(Filter.LoaiHoaDon == 2)
        {
            await JSRuntime.InvokeVoidAsync("choiceLoad", "{'searchEnabled': false}", ".select-trang-thai-giao-hang");
        }
    }

    async Task Reload()
    {
        if (Page == 0) Page = 1;
        HoaDons = await HttpClient.GetFromJsonAsync<ResponsePagination<HoaDonModel>>(Url.AddQuery("page", Page.ToString()).AddQuery("size", Filter.Size.ToString() ?? "").AddQuery("Ma", Filter.Ma?.ToString() ?? "").AddQuery("LoaiHoaDon", Filter.LoaiHoaDon.ToString() ?? "").AddQuery("TrangThaiGiaoHang", Filter.TrangThaiGiaoHang.ToString() ?? "").AddQuery("sort", "-NgayTao"));
    }
}