@page "/admin/product/{idsanpham:guid}"
@page "/admin/product/{idsanpham:guid}/{idbienthe:guid}"
@using MinkyShopProject.Data.Models
@inject SweetAlertService Swal;
@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime;

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    @if (BienTheChiTiet == null)
                    {
                        <div class="spinner-grow text-primary" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="row">
                                                    <div class="col-6 mb-3">
                                                        <label>Tên Sản Phẩm</label>
                                                        <input class="form-control" type="text" @bind="@SanPham.Data.Ten">
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label>Mã Sản Phẩm</label>
                                                        <input class="form-control" type="text" value="@SanPham.Data.Ma">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group mb-3">
                                                            <label for="example-text-input" class="form-control-label">Nhóm Sản Phẩm</label>
                                                            <div class="position-relative">
                                                                <input class="form-control" type="text" @onfocus="() => showNhomSanPham = true" @onfocusout="() => showNhomSanPham = false" @bind="NhomSanPham">
                                                                <i class="fa fa-times position-absolute top-50 end-0 translate-middle-y" style="cursor: pointer"></i>
                                                            </div>
                                                            <div class="d-flex flex-wrap position-relative pb-2">
                                                                <div class="list-group position-absolute w-100 top-0 list" style="z-index: 1">
                                                                    @if (showNhomSanPham)
                                                                    {
                                                                        if(NhomSanPhamModels?.Data.Content != null)
                                                                        {
                                                                            foreach (var x in NhomSanPhamModels.Data.Content)
                                                                            {
                                                                                <button class="list-group-item list-group-item-action text-sm" aria-current="true" @onmousedown="() => { SanPham.Data.IdNhomSanPham = x.Id; NhomSanPham = x.Ten;  }">
                                                                                    @x.Ten
                                                                                </button>
                                                                            }
                                                                        }
                                                                    }
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mb-3">
                                                        <label>&nbsp;</label>
                                                        <div class="form-check form-switch">
                                                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" checked="">
                                                            <label class="form-check-label" for="flexSwitchCheckDefault">Trạng Thái</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <button class="btn btn-primary btn-sm" @onclick="UpdateSanPhamAsync">Sửa</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-4">
                                                <img class="w-100 border-radius-lg shadow-lg mt-3 p-4" src="@SanPham.Data.Anh" @onclick="() => Anh = true"
                                                     alt="product_image" data-bs-toggle="modal" data-bs-target="#modal-image">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        if (BienTheChiTiet.BienTheModels != null)
                        {
                            <div class="row pt-4">
                                <div class="col-lg-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12 p-0">
                                                    <div class="d-flex flex-column">
                                                        @foreach (var x in BienTheChiTiet.BienTheModels)
                                                        {
                                                            <NavLink href="@($"admin/product/{IdSanPham}/{x.Id}")" class="btn btn-light shadow-none my-2" @onmousedown="() => BienThe = x">@x.GiaTri</NavLink>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (BienThe.Id != Guid.Empty)
                                {
                                    <div class="col-lg-8 mt-lg-0 mt-4">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between pe-4 pt-3 pb-0">
                                                <div></div>
                                                <div>
                                                    <button class="btn btn-danger btn-sm m-0" @onclick="DeleteAsync">Xóa</button>
                                                    <button class="btn btn-primary btn-sm m-0" @onclick="UpdateAsync">Sửa</button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-12 col-sm-6">
                                                        <label>Tên Biến Thể</label>
                                                        <input class="form-control" type="text" @bind="@BienThe.Ten">
                                                    </div>
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <label>Số Lượng</label>
                                                        <input class="form-control" type="number" @bind="@BienThe.SoLuong" onfocus="focused(this)" onfocusout="defocused(this)">
                                                    </div>
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <label>Giá Tiền</label>
                                                        <input class="form-control" type="text" @bind="@BienThe.GiaBan">
                                                    </div>
                                                    <div class="col-12 col-sm-6 mb-3">
                                                        <label>SKU</label>
                                                        <input class="form-control" type="text" value="@BienThe.Sku">
                                                    </div>
                                                    <div class="col-6 col-sm-6 mb-3">
                                                        <img class="w-100 border-radius-lg shadow-lg mt-3 p-4" src="@BienThe.Anh"
                                                             alt="product_image" data-bs-toggle="modal" data-bs-target="#modal-image">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-image" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-centered modal-" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row p-0">
                    @if (ModelImage != null)
                    {
                        @foreach (var x in ModelImage.Select((Value, Index) => (Index, Value)))
                        {
                            <div class="col-2 border">
                                <img src="@x.Value" class="w-100 p-3" @onclick="() => { if(!Anh) { BienThe.Anh = ModelImage[x.Index]; }else { SanPham.Data.Anh = ModelImage[x.Index]; } Anh = false; }" data-bs-dismiss="modal" />
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="w-100 d-flex justify-content-between">
                    <InputFile class="form-control w-25" OnChange="@LoadFiles" multiple />
@*                    <button type="button" class="btn btn-secondary m-0" @onclick='async() => await JSRuntime.InvokeVoidAsync("uploadImages", loadedFiles) '>Tải Ảnh Lên</button>*@
                    <button type="button" class="btn btn-secondary m-0" data-bs-dismiss="modal" @onmousedown="() => Anh = false">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid IdBienThe { get; set; }

    [Parameter]
    public Guid IdSanPham { get; set; }

    bool Anh = false;

    BienTheChiTietModel? BienTheChiTiet;

    ResponsePagination<NhomSanPhamModel>? NhomSanPhamModels;

    BienTheModel BienThe = new BienTheModel();

    ResponseObject<SanPhamModel>? SanPham;

    string NhomSanPham = "";

    List<string> ModelImage = new List<string>();

    bool showNhomSanPham = false;

    string Url = "https://localhost:7053/api";

    protected override async Task OnInitializedAsync()
    {
        BienTheChiTiet = await HttpClient.GetFromJsonAsync<BienTheChiTietModel>($"{Url}/BienThe/{IdSanPham}") ?? new BienTheChiTietModel();
        SanPham = await HttpClient.GetFromJsonAsync<ResponseObject<SanPhamModel>>($"{Url}/SanPham/{IdSanPham}");
        NhomSanPhamModels = await HttpClient.GetFromJsonAsync<ResponsePagination<NhomSanPhamModel>>($"{Url}/NhomSanPham");
        ModelImage = await JSRuntime.InvokeAsync<List<string>>("storageImages");
    }

    async Task DeleteAsync()
    {
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Xóa", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        var result = await HttpClient.DeleteAsync($"{Url}/BienThe?id={BienThe.Id}");
        if (result.IsSuccessStatusCode)
            BienTheChiTiet?.BienTheModels.Remove(BienThe);
    }

    async Task UpdateSanPhamAsync()
    {
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Sửa", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        var result2 = await HttpClient.PutAsJsonAsync<SanPhamModel>($"{Url}/SanPham/{SanPham.Data.Id}", SanPham.Data);

        if (result2.IsSuccessStatusCode)
            await Swal.FireAsync("Thông Báo", "Cập Nhật Thành Công", SweetAlertIcon.Success);
    }

    async Task UpdateAsync()
    {
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Sửa", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        BienThe.IdSanPham = IdSanPham;

        var result2 = await HttpClient.PutAsJsonAsync<BienTheModel>($"{Url}/BienThe/{BienThe.Id}", BienThe);

        if (result2.IsSuccessStatusCode)
            await Swal.FireAsync("Thông Báo", "Cập Nhật Thành Công", SweetAlertIcon.Success);
    }

    private List<IBrowserFile> loadedFiles = new();

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles())
        {
            loadedFiles.Add(e.File);
        }
    }
}