@page "/admin/property"
@page "/admin/property/page/{page:int}"
@using MinkyShopProject.Data.Models
@inject SweetAlertService Swal;
@inject HttpClient HttpClient;
@inject IJSRuntime JSRuntime

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex justify-content-between">
                                <div class="w-50">
                                    <select class="js-choice-0" @onchange='(ui) => Value = ui.Value?.ToString() ?? ""'>
                                        <option value="1">Việt Nam</option>
                                        <option value="2">Campuchia</option>
                                        <option value="3">Campuchia 1</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-sm ms-auto" @onclick="AddOrUpdateAsync">Lưu Thông Tin</button>
                            </div>
                        </div>
                        <div class="col-6">
                            <label>Tên Thuộc Tính</label>
                            <input type="text" class="form-control" @bind-value="ThuocTinh.Ten">
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-between">
                                <label>Giá Trị</label>
                            </div>
                            <input type="text" class="form-control" @oninput='(ui) => TenGiaTri = ui.Value?.ToString() ?? ""' @onkeyup='((ui) => { if(ui.Code == "Enter"){ ThuocTinh.GiaTris.Add(new GiaTriModel(){ Ten = TenGiaTri }); } })'>
                        </div>
                        <div class="d-flex flex-wrap position-relative py-2">
                            <div class="d-flex flex-wrap">
                                @if (ThuocTinh.GiaTris != null)
                                {
                                    if (ThuocTinh.Id == Guid.Empty)
                                    {
                                        foreach (var x in ThuocTinh.GiaTris)
                                        {
                                            <span class="badge badge-primary me-2 mb-2 mt-0" style="cursor: pointer" @onmousedown="() => ThuocTinh.GiaTris.Remove(x)">@x.Ten</span>
                                        }
                                    }
                                    else
                                    {
                                        foreach (var x in ThuocTinh.GiaTris)
                                        {
                                            <input class="form-control me-2 mb-2" style="width: 15%" @ondblclick="() => ThuocTinh.GiaTris.Remove(x)" @bind="x.Ten">
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered align-middle text-center">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">STT</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Thuộc Tính</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Giá Trị</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ngày Tạo</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Trạng Thái</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Thao Tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ThuocTinhs == null)
                                {
                                    <tr>
                                        <td colspan="6">
                                            <div class="spinner-grow text-primary" role="status">
                                                <span class="sr-only">Loading...</span>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                else
                                {
                                    if (ThuocTinhs.Data.Content.Count() > 0)
                                    {
                                        foreach (var x in ThuocTinhs.Data.Content.Select((Value, Index) => (Index, Value)))
                                        {
                                            <tr>
                                                <td>
                                                    <p class="text-secondary text-xs font-weight-bold">@(x.Index + 1)</p>
                                                </td>
                                                <td style="width: 20%">
                                                    <span class="text-secondary text-xs font-weight-bold">@x.Value.Ten</span>
                                                </td>
                                                <td class="p-0 w-25">
                                                    <table class="table table-bordered m-0 border-bottom-0">
                                                        <tbody>
                                                            @if (x.Value.GiaTris != null)
                                                            {
                                                                @foreach (var y in x.Value.GiaTris)
                                                                {
                                                                    <tr class="border-bottom-0">
                                                                        <td class="w-80">
                                                                            <span class="text-secondary text-xs font-weight-bolder">@y.Ten</span>
                                                                        </td>
                                                                        <td class="text-sm">
                                                                            <a href="javascript:;" @onclick="() => DeleteAsync(y.Id)" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                                                                                <i class="fas fa-trash text-danger" aria-hidden="true"></i>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td class="align-middle text-center text-sm">
                                                    <span class="text-secondary text-xs font-weight-bold">@x.Value.NgayTao.ToShortDateString()</span>
                                                </td>
                                                <td class="align-middle text-center p-0" style="width: 16%">
                                                    <span class="text-secondary text-xs font-weight-bold">@x.Value.TrangThai</span>
                                                </td>
                                                <td class="text-sm">
                                                    <a href="javascript:;" data-bs-toggle="tooltip" data-bs-original-title="Preview product">
                                                        <i class="fas fa-eye text-info" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="javascript:;" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit product" @onclick="() => ThuocTinh = x.Value">
                                                        <i class="fas fa-user-edit text-warning" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="javascript:;" @onclick="() => DeleteAsync(x.Value.Id)" data-bs-toggle="tooltip" data-bs-original-title="Delete product">
                                                        <i class="fas fa-trash text-danger" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6" class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Không Có Dữ Liệu</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <MinkyShopProject.Admin.Shared.PaginationComponent Model="ThuocTinhs" Url="admin/property" />
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int Page { get; set; }

    string Url = "https://localhost:7053/api";

    string TenGiaTri = "";

    string Value = "";

    ThuocTinhModel ThuocTinh = new ThuocTinhModel();

    ResponsePagination<ThuocTinhModel>? ThuocTinhs;

    protected async override Task OnParametersSetAsync()
    {
        await Reload();
    }

    async Task DeleteAsync(Guid id)
    {
        var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Xóa", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

        if (string.IsNullOrEmpty(confirm.Value)) return;

        var result = await HttpClient.DeleteAsync($"{Url}/ThuocTinh/?id={id}");

        if (result.IsSuccessStatusCode)
        {
            await Reload();
        }
    }

    async Task AddOrUpdateAsync()
    {
        if (ThuocTinh.GiaTris?.Count() <= 0)
        {
            await Swal.FireAsync("Thông Báo", "Phải Có Ít Nhất Một Giá Trị", SweetAlertIcon.Error);
        }
        else
        {
            var confirm = await Swal.FireAsync(new SweetAlertOptions { Title = "Bạn Có Chắc Muốn Thêm", ShowConfirmButton = true, ShowCancelButton = true, Icon = SweetAlertIcon.Warning });

            if (string.IsNullOrEmpty(confirm.Value)) return;

            var result = ThuocTinh.Id == Guid.Empty ? await HttpClient.PostAsJsonAsync<ThuocTinhModel>($"{Url}/ThuocTinh", ThuocTinh) : await HttpClient.PutAsJsonAsync<ThuocTinhModel>($"{Url}/ThuocTinh?id={ThuocTinh.Id}", ThuocTinh);

            if (result.IsSuccessStatusCode)
            {
                await Reload();
            }
        }
    }

    async Task Reload()
    {
        if (Page == 0) Page = 1;
        ThuocTinhs = await HttpClient.GetFromJsonAsync<ResponsePagination<ThuocTinhModel>>($"{Url}/ThuocTinh?Page={Page}&Size=2");
        await JSRuntime.InvokeVoidAsync("choiceLoad", "{'searchEnabled': false}", 0);
        ThuocTinh = new ThuocTinhModel();
        TenGiaTri = "";
    }
}